.graph {
  --height: 600px;
  --width: 1000px;

  --oci-dark-blue: #285ba8;
  --oci-light-blue: #72ccd7;
  --oci-orange: #fbb573;

  --button-hover-color: lightgreen;
  --center-color: #ddd;
  --edge-color: var(--oci-light-blue);
  --edge-width: 2;
  --hover-color: green;
  --point-color: var(--oci-orange);
  --point-width: 3;
  --text-color: var(--oci-dark-blue);

  display: flex;
  flex-direction: column;
  align-items: center;

  .arrow {
    fill: var(--oci-light-blue);
  }

  button {
    --size: 2.5rem;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    height: var(--size);
    width: var(--size);

    &:hover {
      background-color: var(--button-hover-color);
    }
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .center {
    & > circle {
      fill: var(--center-color);
    }

    /*
    & > text {
      stroke: black;
    }
    */
  }

  circle {
    fill: white;
    stroke: var(--point-color);
    stroke-width: var(--point-width);
  }

  circle:hover {
    stroke: var(--hover-color);
  }

  .container {
    height: var(--height);
    width: var(--width);
    margin-top: 1rem;
    // outline: 1px dashed red;
    overflow: scroll;
    position: relative;

    & > svg {
      position: absolute;
    }
  }

  .cycle {
    stroke: var(--edge-color);
    stroke-width: var(--edge-width);
  }

  .edge:hover {
    pointer-events: bounding-box;

    & > circle,
    & > line {
      stroke: var(--hover-color);
      //   stroke: inherit;
    }

    & > polygon {
      fill: var(--hover-color);
      //   fill: inherit;
    }
  }

  .hstack {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    margin-bottom: 1rem;
  }

  input,
  select {
    width: 100%;
  }

  label {
    font-weight: bold;
    margin-top: 0;
  }

  line {
    stroke: var(--edge-color);
    stroke-width: var(--edge-width);
  }

  .popup {
    pointer-events: none;

    & > rect {
      fill: #cccccc90;
      stroke: gray;
      stroke-width: 2;
    }
    & > text {
      dominant-baseline: unset;
      fill: black;
      font-size: 0.7rem;
      text-anchor: unset;
    }
  }

  text {
    dominant-baseline: central;
    fill: var(--text-color);
    font-size: 0.8rem;
    pointer-events: none;
    text-anchor: middle;

    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
